
.container {
    display: flex;
    align-items: flex-start;
}

.verticalAlign {
    vertical-align: top;
    align-items: flex-start;
}

.col {
    padding-top: 20px;
}

.textAlign {
    align-items: left;
    min-width: 100%;
}

.title {
    padding-left: 30px;
}

.row {
    align-items: center;
    justify-content: center;
}

.twitterButton {
    align-items: left;
    padding-left: 50px;
    max-width: 210px;
}

.alignButton {
    text-align: left;
    align-items: left;
    padding-left: 50px;
    font-size: 20px;
}

.imageCard {
    height: 30vmin;
    padding: 30px;
    padding-left: 50px;
}

