.dcontainer {
    display: flex;
    flex-direction: row !important;
    align-items: stretch !important;
    align-content: stretch !important;
    justify-content: flex-start !important;
}

.col {
  align-items: flex;
  align-content: stretch;
}

.row {
    justify-content: space-around !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
}
.imageCard {
    height: 25vmin;
    padding: 15px;
}

.logo {
    text-align: left;
}

.scrollSection {
    padding: 15px;
    background-color: #464451;
    width: 100%;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #464451;
}
.scrollbar-primary {
  scrollbar-color: #A39DD3 #464451;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #A39DD3;
}